.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 6fr;
   grid-template-rows: 1fr 1fr 3fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}

.nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
 
}

.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}